*{
    text-align: center;
}

.Skills{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.Languages{
    padding-right: 20px;
}

.Social{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.Personal{
    padding-right: 20px;
}
